body {
    background-image: url(ep_naturalwhite.png);
}

#canvas {
    min-height: 1000px;
    border: solid 1px darkslategray;
    position: absolute;
    left: 200px;
    right: 2em;
}

.draggable {
    float: left;
    margin-left: 2px;
}

div.menu {
    margin-bottom: 1em;
    float: left;
    width: 100%;
}

.menu .draggable {
    z-index: 20;
}

form p {
    clear: both;
    margin: 0.5em 0;
}

ul {
    padding-left: 0;
}
li {
    list-style: none;
    display: block;
    margin: auto;
}

.minitiles {
    padding: 0 2em;
    font-size: 0.75em;
    height: 12em;
    width: 100%;
    box-sizing: border-box;
}

form {
    width: 125px;
    background: aliceblue;
    padding: 1em;
    margin: 0px;
    position: absolute;
}

.minitiles .draggable {
    float: left;
    margin: 0.75em 0;
}

.minitiles img {
    height: 40px;
    width: 40px;
    margin-right: 2px;
}

.boardtile {
    background-color: lightgray;
    margin: 0;
    width: 200px;
    height: 200px;
}

.boardtile img {
    width: 200px;
    height: 200px;
}