#canvas {
    width: 80%;
    min-width: 625px;
    min-height: 20px;
    border: solid 1px darkslategray;
    float: left;
    height: 1600px;
}

.draggable {
    float: left;
    margin-left: 2px;
}

div.menu {
    margin-bottom: 1em;
    overflow: hidden;
}

form p {
    clear: both;
}

ul {
    padding-left: 0;
}
li {
    list-style: none;
    display: block;
    margin: auto;
}

.minitiles {
    padding: 0 2em;
    font-size: 0.75em;
    height: 12em;
    width: 100%;
}

form {
    width: 15%;
    min-width: 122px;
    background: aliceblue;
    padding: 1em;
    margin: 0px;
    float: left;
}

.minitiles .draggable {
    float: left;
    margin: 0.75em 0;
}

.minitiles img {
    height: 40px;
    width: 40px;
    margin-right: 2px;
}

.boardtile {
    background-color: lightgray;
    margin: 0;
}

.boardtile img {
    width: 200px;
    height: 200px;
}